section.promo
    .container
        .promo__wrapper
            h1.promo__title Онлайн-сервис <br> доставки еды на дом
            p.promo__text Блюда из любимого ресторана привезет курьер в перчатках, маске и с антисептиком
