-
    var allRestaurants = [
        {
            image: require("./img/1.png"),
            name: "Пицца плюс",
            time: "50 мин",
            rating: "4.5",
            price: "От 900 ₽",
            category: "Пицца",
        },
        {
            image: require("./img/2.png"),
            name: "Тануки",
            time: "50 мин",
            rating: "4.5",
            price: "От 900 ₽",
            category: "Пицца",
        },
        {
            image: require("./img/3.png"),
            name: "FoodBand",
            time: "50 мин",
            rating: "4.5",
            price: "От 900 ₽",
            category: "Пицца",
        },
        {
            image: require("./img/4.png"),
            name: "Жадина-пицца",
            time: "50 мин",
            rating: "4.5",
            price: "От 900 ₽",
            category: "Пицца",
        },
        {
            image: require("./img/5.png"),
            name: "Точка еды",
            time: "50 мин",
            rating: "4.5",
            price: "От 900 ₽",
            category: "Пицца",
        },
        {
            image: require("./img/6.png"),
            name: "PizzaBurger",
            time: "50 мин",
            rating: "4.5",
            price: "От 900 ₽",
            category: "Пицца",
        },
    ]

