-
    var allRestaurants = [
        {
            image: require("./img/1.png"),
            name: "Пицца плюс",
            time: "15 мин",
            rating: "5.0",
            price: "От 500 ₽",
            category: "Пицца",
        },
        {
            image: require("./img/2.png"),
            name: "Тануки",
            time: "30 мин",
            rating: "4.8",
            price: "От 900 ₽",
            category: "Суши",
        },
        {
            image: require("./img/3.png"),
            name: "FoodBand",
            time: "45 мин",
            rating: "4.4",
            price: "От 1000 ₽",
            category: "Пицца и суши",
        },
        {
            image: require("./img/4.png"),
            name: "Жадина",
            time: "50 мин",
            rating: "3.8",
            price: "От 1000 ₽",
            category: "Суши",
        },
        {
            image: require("./img/5.png"),
            name: "Точка еды",
            time: "70 мин",
            rating: "4.8",
            price: "От 1200 ₽",
            category: "Пицца и суши",
        },
        {
            image: require("./img/6.png"),
            name: "PizzaBurger",
            time: "90 мин",
            rating: "4.6",
            price: "От 2000 ₽",
            category: "Пицца и бургеры",
        },
    ]

