-
    var allFoods = [
        {
            name: "Ролл угорь стандарт",
            price: "395 ₽"
        },
        {
            name: "Ролл угорь стандарт",
            price: "395 ₽"
        },
        {
            name: "Ролл угорь стандарт",
            price: "395 ₽"
        },
        {
            name: "Ролл угорь стандарт",
            price: "395 ₽"
        },
        {
            name: "Ролл угорь стандарт",
            price: "395 ₽"
        },
    ]