$primaryColor: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
$secondaryColor: #fff;
$thirdColor: rgba(24, 144, 255, 1);


$primaryFontColor: rgba(0, 0, 0, 1);
$secondaryFontColor: rgba(140, 140, 140, 1);
$thirdFontColor: rgba(89, 89, 89, 1);
$fourthFontColor: rgba(255, 255, 255, 1);





