-
    var allMenu = [
        {
            image: require("./img/1.png"),
            name: "Ролл угорь стандарт",
            consist: "Рис, угорь, соус унаги, кунжут, водоросли нори.",
            price: "395 ₽",
        },
        {
            image: require("./img/2.png"),
            name: "Калифорния лосось стандарт",
            consist: "Рис, лосось, авокадо, огурец, майонез, икра масаго, водоросли нори.",
            price: "450 ₽",
        },
        {
            image: require("./img/3.png"),
            name: "Окинава стандарт",
            consist: "Рис, креветка отварная, сыр сливочный, лосось, огурец свежий, кунжут.",
            price: "450 ₽",
        },
        {
            image: require("./img/4.png"),
            name: "Цезарь маки хl",
            consist: "Рис, куриная грудка копченая, икра масаго, томат, айсберг, соус цезарь.",
            price: "550 ₽",
        },
        {
            image: require("./img/5.png"),
            name: "Ясай маки стандарт 185 г",
            consist: "Рис, помидор свежий, перец болгарский, авокадо, огурец, айсберг.",
            price: "450 ₽",
        },
        {
            image: require("./img/6.png"),
            name: "Ролл с креветкой стандарт",
            consist: "Рис, водоросли нори, креветки отварные, сыр сливочный, огурцы.",
            price: "550 ₽",
        },
    ]