header.header 
    .container
        .header__wrapper
            a(href="./index.html") 
                img.header__logo(src=require("./img/logo.svg"), alt="Logo icon")
            input.header__location(type="text" placeholder="Адрес доставки")
            .header__btns
                .header__enter
                    include ../../components/btn/enter/_enter.pug
                include ../../components/btn/basket/_basket.pug

