.header {
    padding: 44px 0 40px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    &__logo {
        min-width: 100.5px;
        max-width: 100.5px;
        height: 36px;
        margin-right: calc(102px/1440px*100vw);
    }

    &__form {
        flex-grow: 1;
        margin-right: calc(87px/1440px*100vw);
    }

    &__location {
        width: 100%;
        height: 40px;
        @include font-sfprodisplay(16px, 400, $fifthFontColor, 24px);
        padding: 8px 12px 8px 32px;
        border: 0;
        outline: 1px solid $fourthColor;
        outline-offset: -1px;
        border-radius: 2px;
        background-image: url("../blocks/header/img/home.svg");
        background-repeat: no-repeat;
        background-position: left 11px center;
    }

    &__btns {
        display: flex;
        min-width: 219px;
        justify-content: space-between;
    }

    &__user-icon {
        width: 11.75px;
        height: 12.44px;
    }

    &__basket-icon {
        width: 14px;
        height: 12.6px;
        margin-right: 5px;
    }

    &__user-icon {
        margin-right: 6.12px;
    }
}